.encabezado-principal {
    background-color: #eddfbc;
    padding: 30px 20px;
    text-align: center;
    border-bottom: 1px solid #eddfbc;
    position: relative;
}

.encabezado-principal img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
    border: none;
}

.encabezado-principal h1 {
    font-family: 'Times New Roman', serif;
    font-size: 32px;
    color: black;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0;
}

.header-btn-pos {
    background-color: #EDDFBCFF;
    position: absolute;
    top: 30px;
    right: 40px;
    border: 1px solid #000000;
    font-size: 14px;
    color: black;
}

.header-btn-pos:hover{
    background-color: black;
    color: white;
    border-color: white;
}

nav {
    background-color: #222;
    width: 100%;
    position: relative;
    z-index: 100;
}

.menu-horizontal {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    background-color: rgba(237, 223, 188, 0.47);
    border-bottom: 1px solid #000;
    margin: 0;
}

.menu-horizontal > li {
    position: relative;
}

.menu-horizontal > li > a {
    display: block;
    padding: 15px 30px;
    color: black;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
    font-size: 14px;
    letter-spacing: 1px;
}

.menu-horizontal > li:hover > a {
    background-color: white;
    color: black;
}

.menu-vertical {
    position: absolute;
    display: none;
    list-style: none;
    width: 220px;
    background-color: #EDDFBC;
    top: 100%;
    left: 0;
    z-index: 1000;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
    padding: 0;
}

.menu-horizontal li:hover .menu-vertical {
    display: block;
}

.menu-vertical li a {
    display: block;
    color: black;
    padding: 12px 20px;
    text-decoration: none;
    font-size: 13px;
    border-bottom: 1px solid rgba(184, 134, 11, 0.2);
    text-align: left;
}

.menu-vertical li:hover a {
    background-color: white;
    color: black;
}

.seccion-principal {
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('../img/fondo.jpg');
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.contenido-principal h2 {
    font-family: 'Times New Roman', serif;
    font-size: 3.5em;
    color: #eddfbc;
    margin-bottom: 10px;
    border: none;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.8);
}

.seccion-principal p {
    font-size: 1.2em;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

.main-button {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn-sec-main {
    padding: 15px 30px;
    background-color: #eddfbc;
    color: #111;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all 0.3s;
    border: 2px solid #eddfbc;
}

.btn-hero:hover {
    background-color: #fff;
    border-color: #fff;
    color: #000;
}

.btn-outline {
    background-color: transparent;
    color: #eddfbc;
}

.btn-outline:hover {
    background-color: #eddfbc;
    color: #111;
}

.seccion-intro {
    padding: 60px 20px;
    background-color: white;
    text-align: center;
}

.container-intro {
    max-width: 1200px;
    margin: 0 auto;
}

.texto-intro{
    max-width: 1000px;
    margin: 0 auto 50px auto;
}

.texto-intro h3 {
    font-size: 50px;
    border-bottom: 3px solid #c1a371;
    display: inline-block;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.texto-intro p {
    font-size: 20px;
    line-height: 1.6;
    color: #4a4a4a;
}

/* Mini ventanas*/
.ventanas-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
}

.info-ventanas {
    background: #fdfaf5;
    padding: 30px;
    border: 1px solid #eaeaea;
    border-top: 5px solid #eddfbc;
    box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.05);
    transition: transform 0.5s ease;
}

.info-ventanas:hover {
    transform: translateY(-40px);
    box-shadow: 0 15px 30px rgba(0,0,0,0.1);
}

.info-ventanas h4 {
    font-family: 'Times New Roman', serif;
    font-size: 20px;
    color: black;
    margin-bottom: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.info-ventanas p {
    color: #333333;
    line-height: 1.6;
    font-size: 16px;
}

.lista-val {
    list-style: none;
    padding: 0;
    text-align: left;
    margin-top: 15px;
}

.lista-val li {
    padding: 8px 0;
    border-bottom: 1px solid #000000;
    color: #555;
}

/* Pie de pagina*/
.main-footer {
    background-color: #111;
    color: #ccc;
    padding: 40px 20px 20px 20px;
    margin-top: 50px;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
}

.footer-logo h3 {
    color: #eddfbc;
    border: none;
    margin-bottom: 5px;
    font-size: 1.8em;
}

.footer-info p {
    margin: 5px 0;
    font-size: 0.9em;
}
