<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Agendar Cita - JDC</title>
    <link rel="stylesheet" th:href="@{/css/global.css}">
    <link rel="stylesheet" th:href="@{/css/forms.css}">
</head>
<body>

<div class="contenedor-form contenedor-normal">

    <div class="contenedor-logo">
        <img th:src="@{/img/logog.jpeg}" alt="JDC Logo" class="logo-form">
    </div>

    <h2>AGENDAR CITA</h2>

    <div th:if="${exito}" class="error-msg msg-exito">
        <span th:text="${exito}"></span>
    </div>

    <div th:if="${error}" class="error-msg msg-prec">
        <span th:text="${error}"></span>
    </div>

    <form th:action="@{/cliente/agendar-cita}" th:object="${citaDto}" method="post">

        <label class="etiqueta-entrada">Fecha deseada:</label>
        <input type="date" th:field="*{fecha}" required />

        <label class="etiqueta-entrada">Hora deseada:</label>
        <input type="time" th:field="*{hora}" required />

        <div class="separador-form"></div>

        <select th:field="*{servicio}" required>
            <option value="" disabled selected>-- Selecciona el servicio requerido --</option>
            <option value="Mecánico">Mecánica General</option>
            <option value="Eléctrico">Sistema Eléctrico / Luces</option>
            <option value="Hojalatero">Reparación de Carrocería (Hojalatería)</option>
            <option value="Pintor">Pintura Automotriz</option>
            <option value="Tuning">Modificaciones y Tuning</option>
            <option value="Ventas">Interés en Compra de Auto</option>
        </select>

        <p class="texto-pista">Se te asignará un especialista disponible automáticamente.</p>

        <button type="submit" class="btn-ancho-total">CONFIRMAR CITA</button>
    </form>

    <div style="margin-top: 30px;">
        <a th:href="@{/welcome}" class="link-volver">← Volver a Mi Perfil</a>
    </div>
</div>

</body>
</html>